.todo-container {
  margin-top: 5vh;
  height: 85vh;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
.task-container {
  height: 75vh;
}
.btn-add-task {
  position: fixed;
  bottom: 10px;
  right: 20px;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.btn-logout {
  position: fixed;
  bottom: 10px;
  left: 20px;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.todo-task {
  text-align: start;
  height: 50px;
  font-size: 20px;
  margin: 15px 0 0 0;
  background: rgba(139, 87, 42, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.task-finished{
  background: rgba(20, 235, 49, 0.6) !important;
}

.task-checkbox {
  font-size: 30px;
  cursor: pointer;
  color: rgb(139, 87, 42);
}
.checkbox-finish{
  color: rgba(20, 235, 49, 0.6) !important;
}


.animal-img{
  background-size: cover;
  position: fixed;
  height: 300px;
  width: 300px;
}