.container{
  background-color: aliceblue;
  margin-top: 70px;
  height: 500px;
  width: 500px;
  border-radius: 20px;
}
.login-title p{
  font-size: 5em;
  text-transform: capitalize;
  text-align: center;
}
.email-sec input{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
.pass-sec input{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
button{
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
}
.signup-sec button{width: 100%;}